---
const {
  taskDescription,
  display = "flex",
  selectorClass = "task",
  inputSelector = 'checkbox'
} = Astro.props;
const randomId = Math.random().toString(36).substring(7);
---

<div
  class=`${display} items-center gap-2 h-12 border-b bg-white border-hint pl-4 transition-all transition-transform duration-700 overflow-hidden ${selectorClass}`
>
<div class="relative flex items-center justify-center">
  <input
    type="checkbox"
    id=`checkbox-${randomId}`
    class=`${inputSelector} flex items-center justify-center relative peer shrink-0
    appearance-none w-5 h-5 border-[.75px] border-hint rounded-full bg-white`
  />
  <svg
    class="absolute w-5 h-full p-[.18rem] text-selected
      max-w-0 peer-checked:max-w-5 pointer-events-none peer-checked:transition-all peer-checked:duration-300 transition-all duration-200"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="square"
    stroke-linejoin="miter"
  >
    <polyline points="20 6 9 17 4 12"></polyline>
  </svg>
  </div>
  <label
    id=`label-${randomId}`
    for=`checkbox-${randomId}`
    class="flex items-center ml-1 text-general font-medium text-xl h-full w-full"
    >{taskDescription}</label
  >
</div>
